.Account {
  text-align: center;
}

.Account-header {
  background-color: #DFD2B6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  font-family: Termina;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin-bottom: .5rem;
}
.Account-button {
  background-color: #E13234;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Termina;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.Account-input {
  background-color: #37363A;
  width: 70%;
  height: 50px;
  border: 1px solid #E13234;
  border-radius: 16px;
  padding: 0px 45px 0px 15px;
  font-size: 20px;
  font-family: Termina;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: .5rem;
  
}

.Account-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.Account-google{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #FFFFFF;
  border: none;
  border-radius: 16px;
  font-family: Roboto;
  font-weight: 500;
  cursor: pointer;
}

.Account-apple{
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #000000;
  border: none;
  border-radius: 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.Account-link {
  color: #61dafb;
}