.HomePage {
  background-color: #DFD2B6;
  text-align: center;
  /*max-width: 100%;*/
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.HomePage-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  font-family: Termina;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.HomePage-subtitle{
  font-size: calc(10px + 2vmin);
  font-family: Termina;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: .5rem;
}

.HomePage-button {
  background-color: #E13234;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Termina;
  margin: 25px 30px 0px 0px;
  cursor: pointer;
  border-radius: 16px;
  position: fixed;
  right: 0px;
}

.Homepage-left {
  position: fixed;
  left: -225px;
  top: -225px;
}

.Homepage-right {
  position: fixed;
  right: -225px;
  bottom: -225px;
}

.HomePage-Scroll-Button {
  position: absolute;
  align-items: center;
  top: 60%;
  left: 45%;
  background: #E13234;
  border-radius: 19px;
  /*transform: rotate(180deg);*/
  font-family: Helvetica;
  font-size: 60px;
  color: #FFFFFF;
}
div {
  width: 100%;
  height: 100%;
  position: relative;
}

.secondPage {
  background-color: #DFD2B6;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.home-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  font-family: Termina;
  margin: 25px 30px 0px 0px;
  cursor: pointer;
  border-radius: 16px;
  position: fixed;
  left: 0px;
}

.first-description {
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: Termina;
  font-weight: 250;
  color: rgb(255, 255, 255);
  margin-bottom: .5rem;

  font-size: 1.5em;
  margin: 25px 00px 0px 25px;
  position: absolute;
  left: 0px;
  border: none;
  background: none;

}

.secondPage-imgOne {
  position: absolute;
  top: 75%;
  left: 25%;
  height: 200px;
  width: 200px;
}