  .AccountDetails {
    background-color: #DFD2B6;
    text-align: left;
  }
  
  .AccountDetails-image {
    width: 100px;
    height: 100px;
    border: #DFD2B6;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 60px;
    margin-right: 10px;
  }

  .AccountDetails-container {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  
  .AccountDetails-subtitle{
    font-size: calc(5px + 2vmin);
    font-family: Termina;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: 45px;
  }
  
  .AccountDetails-button {
    background-color: #E13234;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Termina;
    margin: 30px 30px 0px 0px;
    border-radius: 16px;
  }

  .AccountDetails-ButtonArray {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 60px;
  }

  .Account-input {
    background-color: #37363A;
    border: 1px solid #E13234;
    border-radius: 16px;
    font-size: 10px;
    font-family: Termina;
    font-weight: 900;
    color: #FFFFFF;
  }